HotelReservation/src/conf/xml-resources/web-services/HotelReservation/wsdl/hotelservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="hotelservice" targetNamespace="http://dk.dtu.02267.hotelservice/WSDL"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://dk.dtu.02267.hotelservice/WSDL" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns0="urn://types.fastmoney.imm.dtu.dk" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:ns1="urn://types.fastmoney.imm.dtu.dk" xmlns:ns2="urn://types.fastmoney.imm.dtu.dk">
    <types>   
        <xsd:schema targetNamespace="http://dk.dtu.02267.hotelservice/WSDL" xmlns:tns="http://dk.dtu.02267.hotelservice/WSDL">
            <xsd:import namespace="urn://types.fastmoney.imm.dtu.dk" schemaLocation="http://fastmoney.imm.dtu.dk:8080/BankService?xsd=1"></xsd:import>            
            <xsd:complexType name="hotelType">
                <xsd:sequence>
                    <xsd:element name="hotelName" type="xsd:string"></xsd:element>
                    <xsd:element name="address" type="tns:addressType"></xsd:element>
                    <xsd:element name="bookingNo" type="xsd:string"></xsd:element>
                    <xsd:element name="price" type="xsd:float"></xsd:element>
                    <xsd:element name="ccGuaranteeReq" type="xsd:boolean"></xsd:element>
                    <xsd:element name="hotelServiceName" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="addressType">
                <xsd:sequence>
                    <xsd:element name="street" type="xsd:string"></xsd:element>
                    <xsd:element name="houseNo" type="xsd:string"></xsd:element>
                    <xsd:element name="city" type="xsd:string"></xsd:element>
                    <xsd:element name="zip" type="xsd:string"></xsd:element>
                    <xsd:element name="country" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="hotelArrayType">
                <xsd:sequence>
                    <xsd:element name="hotels" type="tns:hotelType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="hotelQueryType">
                <xsd:sequence>
                    <xsd:element name="city" type="xsd:string"></xsd:element>
                    <xsd:element name="arrivalDate" type="xsd:date"></xsd:element>
                    <xsd:element name="departureDate" type="xsd:date"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="hotelBookingWithCreditCardType">
                <xsd:sequence>
                    <xsd:element name="bookingNumber" type="xsd:string"></xsd:element>
                    <xsd:element name="creditCardInfo" type="ns0:creditCardInfoType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="hotelFaultType">
                <xsd:sequence>
                    <xsd:element name="errorMessage" type="xsd:string"></xsd:element>
                    <xsd:element name="errorDetail" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="hotelQuery" type="tns:hotelQueryType"></xsd:element>
            <xsd:element name="hotelQueryResult" type="tns:hotelArrayType"></xsd:element>
            <xsd:element name="hotelBookingWithCreditCard" type="tns:hotelBookingWithCreditCardType"></xsd:element>
            <xsd:element name="hotelBookingFault" type="tns:hotelFaultType"></xsd:element>
            <xsd:element name="hotelCancellation" type="xsd:string"></xsd:element>
            <xsd:element name="hotelCancellationFault" type="tns:hotelFaultType"></xsd:element>
            <xsd:element name="hotelBookingResult" type="xsd:boolean"></xsd:element>
            <xsd:element name="hotelCancellationResult" type="xsd:boolean"></xsd:element>
            <xsd:element name="reset" type="xsd:string"/>            
        </xsd:schema>
    </types>
    <message name="getHotelsOperationRequest">
        <part name="hotelQuery" element="tns:hotelQuery"/>
    </message>
    <message name="getHotelsOperationResponse">
        <part name="hotelArray" element="tns:hotelQueryResult"/>
    </message>
    <message name="bookHotelOperationRequest">
        <part name="bookingWithCreditCard" element="tns:hotelBookingWithCreditCard"/>
    </message>
    <message name="bookHotelOperationResponse">
        <part name="bookingResult" element="tns:hotelBookingResult"/>
    </message>
    <message name="bookHotelOperationFault">
        <part name="bookingFault" element="tns:hotelBookingFault"/>
    </message>
    <message name="cancelHotelOperationRequest">
        <part name="bookingCancellation" element="tns:hotelCancellation"/>
    </message>
    <message name="cancelHotelOperationResponse">
        <part name="cancellationResult" element="tns:hotelCancellationResult"/>
    </message>
    <message name="cancelHotelOperationFault">
        <part name="cancellationFault" element="tns:hotelCancellationFault"/>
    </message>
    <message name="resetOperationRequest">
        <part name="reset" element="tns:reset"/>
    </message>
    <portType name="hotelServicePortType">
        <operation name="cancelHotelOperation">
            <input name="cancelHotelOperationInput" message="tns:cancelHotelOperationRequest"/>
            <output name="cancelHotelOperationOutput" message="tns:cancelHotelOperationResponse"/>
            <fault name="cancelHotelOperationFault" message="tns:cancelHotelOperationFault"/>
        </operation>
        <operation name="bookHotelOperation">
            <input name="bookHotelOperationInput" message="tns:bookHotelOperationRequest"/>
            <output name="bookHotelOperationOutput" message="tns:bookHotelOperationResponse"/>
            <fault name="bookHotelOperationFault" message="tns:bookHotelOperationFault"/>
        </operation>
        <operation name="getHotelsOperation">
            <input name="getHotelsOperationInput" message="tns:getHotelsOperationRequest"/>
            <output name="getHotelsOperationOutput" message="tns:getHotelsOperationResponse"/>
        </operation>
        <operation name="resetOperation">
            <input name="resetOperationInput" message="tns:resetOperationRequest"/>
        </operation>
    </portType>
    <binding name="hotelServiceSOAP" type="tns:hotelServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="cancelHotelOperation">
            <soap:operation/>
            <input name="cancelHotelOperationInput">
                <soap:body use="literal"/>
            </input>
            <output name="cancelHotelOperationOutput">
                <soap:body use="literal"/>
            </output>
            <fault name="cancelHotelOperationFault">
                <soap:fault name="cancelHotelOperationFault" use="literal"/>
            </fault>
        </operation>
        <operation name="bookHotelOperation">
            <soap:operation/>
            <input name="bookHotelOperationInput">
                <soap:body use="literal"/>
            </input>
            <output name="bookHotelOperationOutput">
                <soap:body use="literal"/>
            </output>
            <fault name="bookHotelOperationFault">
                <soap:fault name="bookHotelOperationFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getHotelsOperation">
            <soap:operation/>
            <input name="getHotelsOperationInput">
                <soap:body use="literal"/>
            </input>
            <output name="getHotelsOperationOutput">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="resetOperation">
            <soap:operation/>
            <input name="resetOperationInput">
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="hotelService">
        <port name="hotelServiceSOAPPort" binding="tns:hotelServiceSOAP">
            <soap:address location="http://localhost:${HttpDefaultPort}/HotelReservation/hotelservice/hotelServiceSOAPPort"/>
        </port>
    </service>
    <plink:partnerLinkType name="partnerlinktype1">
        <plink:role name="hotelServiceRole" portType="tns:hotelServicePortType"/>
    </plink:partnerLinkType>
</definitions>