TravelGoodBPELModule/src/travelGood.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
    name="travelGood" 
    targetNamespace="urn://travelGood"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="urn://travelGood" 
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
    xmlns:tgt="urn://travelGoodTypes"
    xmlns:hr="urn://hotelReservationTypes"
    xmlns:fd="urn:flightData"
    xmlns:bnk="urn://types.fastmoney.imm.dtu.dk" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    
    <types>
        <xsd:schema targetNamespace="urn://travelGood" 
                    xmlns:tns="urn://travelGood" xmlns:ns3="urn://hotelReservationTypes">
            <xsd:import namespace="urn://travelGoodTypes"
                        schemaLocation="travelGood.xsd"></xsd:import>
            <xsd:import namespace="urn:flightData" 
                        schemaLocation="http://localhost:8080/LameDuck/lameDuckService?xsd=1"/>
            <xsd:import namespace="urn://types.fastmoney.imm.dtu.dk" 
                        schemaLocation="http://fastmoney.imm.dtu.dk:8080/BankService?xsd=1"/>
            <xsd:import schemaLocation="http://localhost:8080/HotelReservation/hotelService?xsd=1" namespace="urn://hotelReservationTypes"/>
            <xsd:element name="hotelQuery" type="hr:hotelQueryType"></xsd:element>
            <xsd:element name="hotelQueryResult" type="hr:hotelArrayType"></xsd:element>
            <xsd:element name="flightQuery" type="tgt:flightQueryType"></xsd:element>
            <xsd:element name="flightQueryResult" type="fd:flightInfoListType"></xsd:element>
            <xsd:element name="createItineraryRequest" type="xsd:string"></xsd:element>
            <xsd:element name="createItineraryResult" type="xsd:string"></xsd:element>
            <xsd:element name="itineraryItem" type="tgt:itineraryItemType"></xsd:element>
            <xsd:element name="itineraryItemResult" type="xsd:string"></xsd:element>
            <xsd:element name="itineraryNo" type="xsd:string"></xsd:element>
            <xsd:element name="itinerary" type="tgt:itineraryItemStatusType"></xsd:element>
            <xsd:element name="itineraryNumberWithCCInfo" type="tgt:itineraryNumberWithCCInfoType"></xsd:element>
            <xsd:element name="bookItineraryResult" type="xsd:boolean"></xsd:element>
            <xsd:element name="itineraryFault" type="tgt:itineraryFaultType"></xsd:element>
            <xsd:element name="cancelItineraryResult" type="xsd:boolean"></xsd:element>
            <xsd:element name="cancelBookingResult" type="xsd:boolean"></xsd:element>
        </xsd:schema>
    </types>
    
    <!-- listHotels messages -->
    
    <message name="listHotelsRequest">
        <part name="hotelQuery" element="tns:hotelQuery"/>        
    </message>
    
    <message name="listHotelsResponse">
        <part name="hotelList" element="tns:hotelQueryResult"/>
    </message>

    <!-- listFlights messages -->

    <message name="listFlightsRequest">
        <part name="flightQuery" element="tns:flightQuery"/>
    </message>
    
    <message name="listFlightsResponse">
        <part name="flightList" element="tns:flightQueryResult"/>
    </message>
    
    <!-- createItinerary messages -->
    
   <message name="createItineraryRequest">
        <part name="part" element="tns:createItineraryRequest"/>
    </message>
    
    <message name="createItineraryResponse">
        <part name="itineraryNo" element="tns:createItineraryResult"></part>
    </message>
    
    <!-- addHotel messages -->
    
    <message name="addHotelToItineraryRequest">
        <part name="addHotelRequest" element="tns:itineraryItem"/>
    </message>
    
    <message name="addHotelToItineraryResponse">
        <part name="success" element="tns:itineraryItemResult"/>
    </message>
    
    <!-- addFlight messages -->
    
    <message name="addFlightToItineraryRequest">
        <part name="addFlightRequest" element="tns:itineraryItem"/>
    </message>
    
    <message name="addFlightToItineraryResponse">
        <part name="success" element="tns:itineraryItemResult"/>
    </message>
    
    <!-- getItinerary messages -->
    
    <message name="getItineraryRequest">
        <part name="itineraryNo" element="tns:itineraryNo"/>
    </message>

    <message name="getItineraryResponse">
        <part name="itinerary" element="tns:itinerary"/>
    </message>    
    
    <!-- bookItinerary messages -->
    
    <message name="bookItineraryRequest">
        <part name="itineraryNumberWithCCInfo" element="tns:itineraryNumberWithCCInfo"/>
    </message>

    <message name="bookItineraryResponse">
        <part name="bookItineraryResult" element="tns:bookItineraryResult"/>
    </message>
    
    <message name="bookItineraryFault">
        <part name="bookingFault" element="tns:itineraryFault"/>
    </message>
     
    <!-- cancelItinerary messages -->
    
    <message name="cancelItineraryRequest">
        <part name="itineraryNo" element="tns:itineraryNo"/>
    </message>

    <message name="cancelItineraryResponse">
        <part name="cancelItineraryResult" element="tns:cancelItineraryResult"/>
    </message>
    
    <message name="cancelItineraryFault">
        <part name="itineraryFault" element="tns:itineraryFault"/>
    </message>
    
    <!-- cancelBooking messages -->
    
    <message name="cancelBookingRequest">
        <part name="itineraryNo" element="tns:itineraryNo"/>
    </message>

    <message name="cancelBookingResponse">
        <part name="cancelBookingResult" element="tns:cancelBookingResult"/>
    </message>
    
    <message name="cancelBookingFault">
        <part name="itineraryFault" element="tns:itineraryFault"/>
    </message>    
    
    
    <portType name="travelGoodPortType">
        <operation name="listHotelsOperation">
            <input name="listHotelsOperationInput" message="tns:listHotelsRequest"/>
            <output name="listHotelsOperationOutput" message="tns:listHotelsResponse"/>
        </operation>

        <operation name="listFlightsOperation">
            <input name="listFlightsOperationInput" message="tns:listFlightsRequest"/>
            <output name="listFlightsOperationOutput" message="tns:listFlightsResponse"/>
        </operation>

        <operation name="createItineraryOperation">
            <input name="createItineraryOperationInput" message="tns:createItineraryRequest"/>
            <output name="createItineraryOperationOutput" message="tns:createItineraryResponse"/>
        </operation>

        <operation name="addHotelToItineraryOperation">
            <input name="addHotelToItineraryOperationInput" message="tns:addHotelToItineraryRequest"/>
            <output name="addHotelToItineraryOperationOutput" message="tns:addHotelToItineraryResponse"/>
        </operation>

        <operation name="addFlightToItineraryOperation">
            <input name="addFlightToItineraryOperationInput" message="tns:addFlightToItineraryRequest"/>
            <output name="addFlightToItineraryOperationOutput" message="tns:addFlightToItineraryResponse"/>
        </operation>

        <operation name="getItineraryOperation">
            <input name="getItineraryOperationInput" message="tns:getItineraryRequest"/>
            <output name="getItineraryOperationOutput" message="tns:getItineraryResponse"/>
        </operation>

        <operation name="bookItineraryOperation">
            <input name="bookItineraryOperationInput" message="tns:bookItineraryRequest"/>
            <output name="bookItineraryOperationOutput" message="tns:bookItineraryResponse"/>
            <fault name="bookItineraryOperationFault" message="tns:bookItineraryFault"/>
        </operation>

        <operation name="cancelItineraryOperation">
            <input name="cancelItineraryOperationInput" message="tns:cancelItineraryRequest"/>
            <output name="cancelItineraryOperationOutput" message="tns:cancelItineraryResponse"/>
            <fault name="cancelItineraryOperationFault" message="tns:cancelItineraryFault"/>
        </operation>
        
        <operation name="cancelBookingOperation">
            <input name="cancelBookingOperationInput" message="tns:cancelBookingRequest"/>
            <output name="cancelBookingOperationOutput" message="tns:cancelBookingResponse"/>
            <fault name="cancelBookingOperationFault" message="tns:cancelBookingFault"/>
        </operation>
                
    </portType>
    <binding name="travelGoodPortTypeBinding" type="tns:travelGoodPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="listHotelsOperation">
            <soap:operation/>
            <input name="listHotelsOperationInput">
                <soap:body use="literal"/>
            </input>
            <output name="listHotelsOperationOutput">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="listFlightsOperation">
            <soap:operation/>
            <input name="listFlightsOperationInput">
                <soap:body use="literal"/>
            </input>
            <output name="listFlightsOperationOutput">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="createItineraryOperation">
            <soap:operation/>
            <input name="createItineraryOperationInput">
                <soap:body use="literal"/>
            </input>
            <output name="createItineraryOperationOutput">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addHotelToItineraryOperation">
            <soap:operation/>
            <input name="addHotelToItineraryOperationInput">
                <soap:body use="literal"/>
            </input>
            <output name="addHotelToItineraryOperationOutput">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addFlightToItineraryOperation">
            <soap:operation/>
            <input name="addFlightToItineraryOperationInput">
                <soap:body use="literal"/>
            </input>
            <output name="addFlightToItineraryOperationOutput">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getItineraryOperation">
            <soap:operation/>
            <input name="getItineraryOperationInput">
                <soap:body use="literal"/>
            </input>
            <output name="getItineraryOperationOutput">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="bookItineraryOperation">
            <soap:operation/>
            <input name="bookItineraryOperationInput">
                <soap:body use="literal"/>
            </input>
            <output name="bookItineraryOperationOutput">
                <soap:body use="literal"/>
            </output>
            <fault name="bookItineraryOperationFault">
                <soap:fault name="bookItineraryOperationFault" use="literal"/>
            </fault>
        </operation>
        <operation name="cancelItineraryOperation">
            <soap:operation/>
            <input name="cancelItineraryOperationInput">
                <soap:body use="literal"/>
            </input>
            <output name="cancelItineraryOperationOutput">
                <soap:body use="literal"/>
            </output>
            <fault name="cancelItineraryOperationFault">
                <soap:fault name="cancelItineraryOperationFault" use="literal"/>
            </fault>
        </operation>
        <operation name="cancelBookingOperation">
            <soap:operation/>
            <input name="cancelBookingOperationInput">
                <soap:body use="literal"/>
            </input>
            <output name="cancelBookingOperationOutput">
                <soap:body use="literal"/>
            </output>
            <fault name="cancelBookingOperationFault">
                <soap:fault name="cancelBookingOperationFault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="travelGoodService">
        <port name="travelGoodPortTypeBindingPort" binding="tns:travelGoodPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service"/>
        </port>
    </service>
    <plnk:partnerLinkType name="travelGood">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="travelGoodPortRole" portType="tns:travelGoodPortType"/>
    </plnk:partnerLinkType>
</definitions>
