TravelGoodBPELClient/src/META-INF/wsdl/localhost_9080/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="travelGood" targetNamespace="urn://travelGood" xmlns:hr="urn://hotelReservationTypes" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn://travelGood" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tgt="urn://travelGoodTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:bnk="urn://types.fastmoney.imm.dtu.dk" xmlns:fd="urn:flightData">
  <types>
    <xsd:schema targetNamespace="urn://travelGood" xmlns:tns="urn://travelGood">
            <xsd:import namespace="urn://travelGoodTypes" schemaLocation="http://HenryLie-PC:9080/TravelGoodBPELApp-sun-http-binding/TravelGoodBPELModule/travelGood.xsd"/>
            <xsd:import namespace="urn://hotelReservationTypes" schemaLocation="http://localhost:8080/HotelReservation/hotelService?xsd=1"/>
            <xsd:import namespace="urn:flightData" schemaLocation="http://localhost:8080/LameDuck/lameDuckService?xsd=1"/>
            <xsd:import namespace="urn://types.fastmoney.imm.dtu.dk" schemaLocation="http://fastmoney.imm.dtu.dk:8080/BankService?xsd=1"/>
            
            <xsd:element name="createItineraryRequest" type="xsd:string"/>
            <xsd:element name="createItineraryResult" type="xsd:string"/>
            <xsd:element name="itineraryItem" type="tgt:itineraryItemType"/>
            <xsd:element name="itineraryItemResult" type="xsd:string"/>
            <xsd:element name="itineraryNo" type="xsd:string"/>
            <xsd:element name="itinerary" type="tgt:itineraryItemStatusType"/>
            <xsd:element name="itineraryNumberWithCCInfo" type="tgt:itineraryNumberWithCCInfoType"/>
            <xsd:element name="bookItineraryResult" type="xsd:boolean"/>
            <xsd:element name="itineraryFault" type="tgt:itineraryFaultType"/>
            <xsd:element name="cancelItineraryResult" type="xsd:boolean"/>
            <xsd:element name="cancelBookingResult" type="xsd:boolean"/>
        </xsd:schema>
  </types>
  <message name="cancelBookingFault">
    <part name="itineraryFault" element="tns:itineraryFault">
    </part>
  </message>
  <message name="bookItineraryRequest">
    <part name="itineraryNumberWithCCInfo" element="tns:itineraryNumberWithCCInfo">
    </part>
  </message>
  <message name="addHotelToItineraryResponse">
    <part name="success" element="tns:itineraryItemResult">
    </part>
  </message>
  <message name="bookItineraryResponse">
    <part name="bookItineraryResult" element="tns:bookItineraryResult">
    </part>
  </message>
  <message name="addHotelToItineraryRequest">
    <part name="addHotelRequest" element="tns:itineraryItem">
    </part>
  </message>
  <message name="addFlightToItineraryResponse">
    <part name="success" element="tns:itineraryItemResult">
    </part>
  </message>
  <message name="cancelItineraryFault">
    <part name="itineraryFault" element="tns:itineraryFault">
    </part>
  </message>
  <message name="createItineraryResponse">
    <part name="itineraryNo" element="tns:createItineraryResult">
    </part>
  </message>
  <message name="addFlightToItineraryRequest">
    <part name="addFlightRequest" element="tns:itineraryItem">
    </part>
  </message>
  <message name="getItineraryResponse">
    <part name="itinerary" element="tns:itinerary">
    </part>
  </message>
  <message name="cancelItineraryResponse">
    <part name="cancelItineraryResult" element="tns:cancelItineraryResult">
    </part>
  </message>
  <message name="listFlightsResponse">
    <part name="flightList" element="fd:flightInfoList">
    </part>
  </message>
  <message name="listHotelsResponse">
    <part name="hotelArray" element="hr:hotelList">
    </part>
  </message>
  <message name="cancelBookingResponse">
    <part name="cancelBookingResult" element="tns:cancelBookingResult">
    </part>
  </message>
  <message name="listFlightsRequest">
    <part name="flightQuery" element="fd:getFlightQuery">
    </part>
  </message>
  <message name="cancelItineraryRequest">
    <part name="itineraryNo" element="tns:itineraryNo">
    </part>
  </message>
  <message name="listHotelsRequest">
    <part name="hotelQueryRequest" element="hr:hotelQuery">
    </part>
  </message>
  <message name="getItineraryRequest">
    <part name="itineraryNo" element="tns:itineraryNo">
    </part>
  </message>
  <message name="createItineraryRequest">
    <part name="part" element="tns:createItineraryRequest">
    </part>
  </message>
  <message name="bookItineraryFault">
    <part name="bookingFault" element="tns:itineraryFault">
    </part>
  </message>
  <message name="cancelBookingRequest">
    <part name="itineraryNo" element="tns:itineraryNo">
    </part>
  </message>
  <portType name="travelGoodPortType">
    <operation name="listHotelsOperation">
      <input name="listHotelsOperationInput" message="tns:listHotelsRequest">
    </input>
      <output name="listHotelsOperationOutput" message="tns:listHotelsResponse">
    </output>
    </operation>
    <operation name="listFlightsOperation">
      <input name="listFlightsOperationInput" message="tns:listFlightsRequest">
    </input>
      <output name="listFlightsOperationOutput" message="tns:listFlightsResponse">
    </output>
    </operation>
    <operation name="createItineraryOperation">
      <input name="createItineraryOperationInput" message="tns:createItineraryRequest">
    </input>
      <output name="createItineraryOperationOutput" message="tns:createItineraryResponse">
    </output>
    </operation>
    <operation name="addHotelToItineraryOperation">
      <input name="addHotelToItineraryOperationInput" message="tns:addHotelToItineraryRequest">
    </input>
      <output name="addHotelToItineraryOperationOutput" message="tns:addHotelToItineraryResponse">
    </output>
    </operation>
    <operation name="addFlightToItineraryOperation">
      <input name="addFlightToItineraryOperationInput" message="tns:addFlightToItineraryRequest">
    </input>
      <output name="addFlightToItineraryOperationOutput" message="tns:addFlightToItineraryResponse">
    </output>
    </operation>
    <operation name="getItineraryOperation">
      <input name="getItineraryOperationInput" message="tns:getItineraryRequest">
    </input>
      <output name="getItineraryOperationOutput" message="tns:getItineraryResponse">
    </output>
    </operation>
    <operation name="bookItineraryOperation">
      <input name="bookItineraryOperationInput" message="tns:bookItineraryRequest">
    </input>
      <output name="bookItineraryOperationOutput" message="tns:bookItineraryResponse">
    </output>
      <fault name="bookItineraryOperationFault" message="tns:bookItineraryFault">
    </fault>
    </operation>
    <operation name="cancelItineraryOperation">
      <input name="cancelItineraryOperationInput" message="tns:cancelItineraryRequest">
    </input>
      <output name="cancelItineraryOperationOutput" message="tns:cancelItineraryResponse">
    </output>
      <fault name="cancelItineraryOperationFault" message="tns:cancelItineraryFault">
    </fault>
    </operation>
    <operation name="cancelBookingOperation">
      <input name="cancelBookingOperationInput" message="tns:cancelBookingRequest">
    </input>
      <output name="cancelBookingOperationOutput" message="tns:cancelBookingResponse">
    </output>
      <fault name="cancelBookingOperationFault" message="tns:cancelBookingFault">
    </fault>
    </operation>
  </portType>
  <binding name="travelGoodSoapBinding" type="tns:travelGoodPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="listHotelsOperation">
      <soap:operation/>
      <input name="listHotelsOperationInput">
        <soap:body use="literal"/>
      </input>
      <output name="listHotelsOperationOutput">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listFlightsOperation">
      <soap:operation/>
      <input name="listFlightsOperationInput">
        <soap:body use="literal"/>
      </input>
      <output name="listFlightsOperationOutput">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createItineraryOperation">
      <soap:operation/>
      <input name="createItineraryOperationInput">
        <soap:body use="literal"/>
      </input>
      <output name="createItineraryOperationOutput">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addHotelToItineraryOperation">
      <soap:operation/>
      <input name="addHotelToItineraryOperationInput">
        <soap:body use="literal"/>
      </input>
      <output name="addHotelToItineraryOperationOutput">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addFlightToItineraryOperation">
      <soap:operation/>
      <input name="addFlightToItineraryOperationInput">
        <soap:body use="literal"/>
      </input>
      <output name="addFlightToItineraryOperationOutput">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getItineraryOperation">
      <soap:operation/>
      <input name="getItineraryOperationInput">
        <soap:body use="literal"/>
      </input>
      <output name="getItineraryOperationOutput">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="bookItineraryOperation">
      <soap:operation/>
      <input name="bookItineraryOperationInput">
        <soap:body use="literal"/>
      </input>
      <output name="bookItineraryOperationOutput">
        <soap:body use="literal"/>
      </output>
      <fault name="bookItineraryOperationFault">
        <soap:fault name="bookItineraryOperationFault" use="literal"/>
      </fault>
    </operation>
    <operation name="cancelItineraryOperation">
      <soap:operation/>
      <input name="cancelItineraryOperationInput">
        <soap:body use="literal"/>
      </input>
      <output name="cancelItineraryOperationOutput">
        <soap:body use="literal"/>
      </output>
      <fault name="cancelItineraryOperationFault">
        <soap:fault name="cancelItineraryOperationFault" use="literal"/>
      </fault>
    </operation>
    <operation name="cancelBookingOperation">
      <soap:operation/>
      <input name="cancelBookingOperationInput">
        <soap:body use="literal"/>
      </input>
      <output name="cancelBookingOperationOutput">
        <soap:body use="literal"/>
      </output>
      <fault name="cancelBookingOperationFault">
        <soap:fault name="cancelBookingOperationFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="travelGoodService">
    <port name="travelGoodPortTypeBindingPort" binding="tns:travelGoodSoapBinding">
      <soap:address location="http://HenryLie-PC:9080/service"/>
    </port>
    <port name="travelGoodPortType" binding="tns:travelGoodSoapBinding">
      <soap:address location="http://HenryLie-PC:9080/travelGoodService/travelGoodPortType"/>
    </port>
  </service>
    <plnk:partnerLinkType name="travelGood">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="travelGoodPortRole" portType="tns:travelGoodPortType"/>
    </plnk:partnerLinkType>
</definitions>
