TravelGoodBPELClient/xml-resources/web-service-references/service/wsdl/10.16.168.226_9080/travelGoodApp-sun-http-binding/TravelGoodBPELModule/travelGood.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn://travelGoodTypes"
            xmlns:tns="urn://travelGoodTypes"
            xmlns:hr="urn://hotelReservationTypes"
            xmlns:fd="urn:flightData"
            xmlns:bnk="urn://types.fastmoney.imm.dtu.dk"
            elementFormDefault="qualified" xmlns:ns0="urn:flightData" xmlns:ns1="urn://hotelReservationTypes">

    
    
    <xsd:import namespace="urn://types.fastmoney.imm.dtu.dk" 
                schemaLocation="http://fastmoney.imm.dtu.dk:8080/BankService?xsd=1"/>
    <xsd:import schemaLocation="http://localhost:8080/LameDuck/lameDuckService?xsd=1" namespace="urn:flightData"/>
    <xsd:import schemaLocation="http://localhost:8080/HotelReservation/hotelService?xsd=1" namespace="urn://hotelReservationTypes"/>
    <xsd:simpleType name="itineraryItemStatusType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="unconfirmed"/>
            <xsd:enumeration value="confirmed"/>
            <xsd:enumeration value="cancelled"/>
        </xsd:restriction>
    </xsd:simpleType>
        
    <xsd:complexType name="itineraryItemType">
        <xsd:sequence>
            <xsd:element name="itineraryNo" type="xsd:string"></xsd:element>
            <xsd:element name="bookingNo" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="itineraryType">
        <xsd:sequence>
            <xsd:element name="itineraryNo" type="xsd:string"></xsd:element>
            <xsd:sequence>
                <xsd:choice>
                    <xsd:element name="hotel" type="hr:hotelType"></xsd:element>
                    <xsd:element name="flight" type="fd:flightType"></xsd:element>
                </xsd:choice>
                <xsd:element name="status" type="tns:itineraryItemStatusType"></xsd:element>
            </xsd:sequence>            
        </xsd:sequence>
    </xsd:complexType>
            
    <xsd:complexType name="itineraryBookingType">
        <xsd:sequence>
            <xsd:element name="itineraryNo" type="xsd:string"></xsd:element>
            <xsd:element name="ccInfo" type="bnk:creditCardInfoType"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="flightQueryType">
        <xsd:sequence>
            <xsd:element name="startDest" type="xsd:string"/>
            <xsd:element name="finalDest" type="xsd:string"/>
            <xsd:element name="date" type="xsd:date"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="itineraryNumberWithCCInfoType">
        <xsd:sequence>
            <xsd:element name="itineraryNo" type="xsd:string"/>
            <xsd:element name="ccInfo" type="bnk:creditCardInfoType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="itineraryFaultType">
        <xsd:sequence>
            <xsd:element name="errorMessage" type="xsd:string"></xsd:element>
            <xsd:element name="errorDetail" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
                                                                                                                                                
</xsd:schema>
