LameDuck/src/java/flightData.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:flightData"
            xmlns:tns="urn:flightData"
            elementFormDefault="qualified" xmlns:ns0="urn://types.fastmoney.imm.dtu.dk">
    
    <xsd:import namespace="urn://types.fastmoney.imm.dtu.dk" 
                schemaLocation="http://fastmoney.imm.dtu.dk:8080/BankService?xsd=1"/>
    
    <!--DECLARATION OF TYPES -->    
    <xsd:complexType name="flightType">
        <xsd:sequence>
            <xsd:element name="startAirpot" type="xsd:string"></xsd:element>
            <xsd:element name="destinationAirport" type="xsd:string"></xsd:element>
            <xsd:element name="datetimeLift" type="xsd:dateTime"></xsd:element>
            <xsd:element name="datetimeLanding" type="xsd:dateTime"></xsd:element>
            <xsd:element name="carrier" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="FlightInfoType">
        <xsd:sequence>
            <xsd:element name="bookingNumber" type="xsd:string"></xsd:element>
            <xsd:element name="flightPrice" type="xsd:int"></xsd:element>
            <xsd:element name="airlineReservationServiceName" type="xsd:string"></xsd:element>
            <xsd:element name="flight" type="tns:flightType"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="flightFaultType">
        <xsd:sequence>
            <xsd:element name="errorMessage" type="xsd:string"></xsd:element>
            <xsd:element name="errorDetail" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!--DECLARATION OF ELEMENTS FOR QUERY-->
    <xsd:element name="getFlightQuery">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="startDest" type="xsd:string"></xsd:element>
                <xsd:element name="finalDest" type="xsd:string"></xsd:element>
                <xsd:element name="date" type="xsd:date"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="bookFlightQuery">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bookingNumber" type="xsd:string"></xsd:element>
                <xsd:element name="creditcardInfo" type="ns0:creditCardInfoType"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>        
    </xsd:element>
    
    <xsd:element name="cancelFlightQuery">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bookingNumber" type="xsd:string"></xsd:element>
                <xsd:element name="flightPrice" type="xsd:int"></xsd:element>
                <xsd:element name="creditcardInfo" type="ns0:creditCardInfoType"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="reset" type="xsd:string"></xsd:element>
    
    
    <!--DECLARATION OF ELEMENTS FOR RESPONSE-->    
    <xsd:element name="flightInfoList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="flightInfo" maxOccurs="unbounded" minOccurs="0" type="tns:FlightInfoType"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>        
    </xsd:element>
    
    <xsd:element name="bookflightResult" type="xsd:boolean"></xsd:element>
    <xsd:element name="cancelflightResult" type="xsd:boolean"></xsd:element>
    
    
    <!--DECLARATION OF ELEMENTS FOR FAULT-->    
    <xsd:element name="bookFlightFailure" type="tns:flightFaultType"></xsd:element>
    <xsd:element name="cancelFlightFailure" type="tns:flightFaultType"></xsd:element>
</xsd:schema>
