LameDuck/src/java/flightData.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:flightData"
    xmlns:tns="urn:flightData"
    elementFormDefault="qualified" xmlns:ns0="urn://types.fastmoney.imm.dtu.dk">
       <xsd:import namespace="urn://types.fastmoney.imm.dtu.dk" 
                schemaLocation="http://fastmoney.imm.dtu.dk:8080/BankService?xsd=1"/>
    <xsd:complexType name="flightType">
        <xsd:sequence>
            <xsd:element name="startAirpot" type="xsd:string"></xsd:element>
            <xsd:element name="destinationAirport" type="xsd:string"></xsd:element>
            <xsd:element name="datetimeLift" type="xsd:dateTime"></xsd:element>
            <xsd:element name="datetimeLanding" type="xsd:dateTime"></xsd:element>
            <xsd:element name="carrier" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FlightInfoType">
        <xsd:sequence>
            <xsd:element name="bookingNumber" type="xsd:string"></xsd:element>
            <xsd:element name="flightPrice" type="xsd:int"></xsd:element>
            <xsd:element name="airlineReservationServiceName" type="xsd:string"></xsd:element>
            <xsd:element name="flight" type="tns:flightType"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="flightInfoListType">
        <xsd:sequence>
            <xsd:element name="flightInfo" maxOccurs="unbounded" minOccurs="0" type="tns:FlightInfoType"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getFlightQuery">
        <xsd:sequence>
            <xsd:element name="startDest" type="xsd:string"></xsd:element>
            <xsd:element name="finalDest" type="xsd:string"></xsd:element>
            <xsd:element name="date" type="xsd:date"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="bookFlightQuery">
        <xsd:sequence>
            <xsd:element name="bookingNumber" type="xsd:string"></xsd:element>
            <xsd:element name="creditcardInfo" type="ns0:creditCardInfoType"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="cancelFlightQuery">
        <xsd:sequence>
            <xsd:element name="bookingNumber" type="xsd:string"></xsd:element>
            <xsd:element name="flightPrice" type="xsd:int"></xsd:element>
            <xsd:element name="creditcardInfo" type="ns0:creditCardInfoType"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="getFlightQueryType" type="tns:getFlightQuery"></xsd:element>
    <xsd:element name="bookFlightQueryType" type="tns:bookFlightQuery"></xsd:element>
    <xsd:element name="cancelFlightQueryType" type="tns:cancelFlightQuery"></xsd:element>
    <xsd:element name="flightList" type="tns:flightInfoListType"></xsd:element>
    <xsd:element name="bookflightResult" type="xsd:boolean"></xsd:element>
    <xsd:element name="cancelflightResult" type="xsd:boolean"></xsd:element>
</xsd:schema>
