TravelGoodBPELClient/src/META-INF/wsdl/localhost_8080/LameDuck/lameDuckService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://lameDuck.ws" xmlns:fd="urn:flightData" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="lameDuckWSDL" targetNamespace="http://lameDuck.ws">
    <types>
        <xsd:schema targetNamespace="http://lameDuck.ws">
            <xsd:import namespace="urn:flightData" schemaLocation="http://localhost:8080/LameDuck/lameDuckService?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="getFlightsRequest">
        <part name="getFlightQuery" element="fd:getFlightQuery"/>
    </message>
    <message name="getFlightsResponse">
        <part name="flightsList" element="fd:flightInfoList"/>
    </message>
    <message name="bookFlightRequest">
        <part name="bookFlightQuery" element="fd:bookFlightQuery"/>
    </message>
    <message name="bookFlightResponse">
        <part name="bookingResult" element="fd:bookflightResult"/>
    </message>
    <message name="bookFlightFault">
        <part name="bookingFfault" element="fd:bookFlightFailure"/>
    </message>
    <message name="cancelFlightRequest">
        <part name="cancelFlightQuery" element="fd:cancelFlightQuery"/>
    </message>
    <message name="cancelFlightResponse">
        <part name="cancelResult" element="fd:cancelflightResult"/>
    </message>
    <message name="cancelFlightFault">
        <part name="cancelFfault" element="fd:cancelFlightFailure"/>
    </message>
   <message name="resetRequest">
        <part name="resetQuery" element="fd:reset"/>
    </message>    
    <portType name="lameDuckPortType">
        <operation name="getFlights">
            <input name="input1" message="tns:getFlightsRequest"/>
            <output name="output1" message="tns:getFlightsResponse"/>
        </operation>
        <operation name="bookFlight">
            <input name="input2" message="tns:bookFlightRequest"/>
            <output name="output2" message="tns:bookFlightResponse"/>
            <fault name="fault1" message="tns:bookFlightFault"/>
        </operation>
        <operation name="cancelFlight">
            <input name="input3" message="tns:cancelFlightRequest"/>
            <output name="output3" message="tns:cancelFlightResponse"/>
            <fault name="fault1" message="tns:cancelFlightFault"/>
        </operation>
        <operation name="reset">
            <input name="input4" message="tns:resetRequest"/>
        </operation>        
    </portType>
    <binding name="lameDuckPortTypeBinding" type="tns:lameDuckPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getFlights">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="bookFlight">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal"/>
            </input>
            <output name="output2">
                <soap:body use="literal"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </fault>
        </operation>
        <operation name="cancelFlight">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal"/>
            </input>
            <output name="output3">
                <soap:body use="literal"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </fault>
        </operation>
        <operation name="reset">
            <soap:operation/>
            <input name="input4">
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="lameDuckService">
        <port name="lameDuckPortTypeBindingPort" binding="tns:lameDuckPortTypeBinding">
            <soap:address location="http://localhost:8080/LameDuck/lameDuckService"/>
        </port>
    </service>
    <plink:partnerLinkType name="partnerlinktype1">
        <plink:role name="lameDuckServiceRole" portType="tns:lameDuckPortType"/>
    </plink:partnerLinkType>
</definitions>