TravelGoodSoap/src/java/travelGood.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
    name="travelGood" 
    targetNamespace="urn://travelGood"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="urn://travelGood" 
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tgt="urn://travelGoodTypes"
    xmlns:hr="urn://hotelReservationTypes"
    xmlns:fd="urn:flightData"
    xmlns:bnk="urn://types.fastmoney.imm.dtu.dk">
    
    <types>
        <xsd:schema targetNamespace="urn://travelGood" 
                    xmlns:tns="urn://travelGood">
            <xsd:import namespace="urn://travelGoodTypes"
                        schemaLocation="travelGood.xsd"></xsd:import>
            <xsd:import namespace="urn://hotelReservationTypes" 
                        schemaLocation="hotelReservation.xsd"/>
            <xsd:import namespace="urn:flightData" 
                        schemaLocation="flightData.xsd"/>
            <xsd:import namespace="urn://types.fastmoney.imm.dtu.dk" 
                        schemaLocation="http://fastmoney.imm.dtu.dk:8080/BankService?xsd=1"/>
            
            <xsd:element name="hotelQuery" type="hr:hotelQueryType"></xsd:element>
            <xsd:element name="hotelQueryResult" type="hr:hotelArrayType"></xsd:element>
            <xsd:element name="flightQuery" type="tgt:flightQueryType"></xsd:element>
            <xsd:element name="flightQueryResult" type="fd:flightInfoListType"></xsd:element>
            <xsd:element name="createItineraryRequest" type="xsd:string"></xsd:element>
            <xsd:element name="createItineraryResult" type="xsd:string"></xsd:element>
            <xsd:element name="itineraryItem" type="tgt:itineraryItemType"></xsd:element>
            <xsd:element name="itineraryItemResult" type="xsd:string"></xsd:element>
            <xsd:element name="itineraryNo" type="xsd:string"></xsd:element>
            <xsd:element name="itinerary" type="tgt:itineraryItemStatusType"></xsd:element>
        </xsd:schema>
    </types>
    
    <!-- listHotels messages -->
    
    <message name="listHotelsRequest">
        <part name="hotelQuery" element="tns:hotelQuery"/>        
    </message>
    
    <message name="listHotelsResponse">
        <part name="hotelList" element="tns:hotelQueryResult"/>
    </message>

    <!-- listFlights messages -->

    <message name="listFlightsRequest">
        <part name="flightQuery" element="tns:flightQuery"/>
    </message>
    
    <message name="listFlightsResponse">
        <part name="flightList" element="tns:flightQueryResult"/>
    </message>
    
    <!-- createItinerary messages -->
    
   <message name="createItineraryRequest">
        <part name="part" element="tns:createItineraryRequest"/>
    </message>
    
    <message name="createItineraryResponse">
        <part name="itineraryNo" element="tns:createItineraryResult"></part>
    </message>
    
    <!-- addHotel messages -->
    
    <message name="addHotelToItineraryRequest">
        <part name="addHotelRequest" element="tns:itineraryItem"/>
    </message>
    
    <message name="addHotelToItineraryResponse">
        <part name="success" element="tns:itineraryItemResult"/>
    </message>
    
    <!-- addFlight messages -->
    
    <message name="addFlightToItineraryRequest">
        <part name="addFlightRequest" element="tns:itineraryItem"/>
    </message>
    
    <message name="addFlightToItineraryResponse">
        <part name="success" element="tns:itineraryItemResult"/>
    </message>
    
    <!-- getItinerary messages -->
    
    <message name="getItineraryRequest">
        <part name="itineraryNo" element="tns:itineraryNo"/>
    </message>

    <message name="getItineraryResponse">
        <part name="itinerary" element="tns:itinerary"/>
    </message>    
    
    <!-- TODO: bookItinerary messages -->
    
    <!-- TODO: cancelItinerary messages -->
    
    <!-- TODO: cancelBooking ? messages -->    
    
    <portType name="travelGoodPort">
        <operation name="listHotelsOperation">
            <input name="input1" message="tns:listHotelsOperationRequest"/>
            <output name="output1" message="tns:listHotelsOperationResponse"/>
        </operation>
    </portType>        
    
    <binding name="travelGoodSoapBinding" type="tns:travelGoodPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="listHotelsOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="travelGoodService">
        <port name="travelGoodPort" binding="tns:travelGoodSoapBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/travelGoodService/travelGoodPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="travelGood">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="travelGoodPortRole" portType="tns:travelGoodPort"/>
    </plnk:partnerLinkType>
</definitions>
