HotelReservationClient/xml-resources/web-service-references/hotelService/wsdl/localhost_8080/HotelReservation/hotelService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://dk.dtu.02267.hotelservice/WSDL" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="hotelservice" targetNamespace="http://dk.dtu.02267.hotelservice/WSDL">
    <types>
        <xsd:schema xmlns:tns="http://dk.dtu.02267.hotelservice/WSDL" targetNamespace="http://dk.dtu.02267.hotelservice/WSDL">
            <xsd:complexType name="hotelBookingType">
                <xsd:sequence>
                    <xsd:element name="hotelName" type="xsd:string"/>
                    <xsd:element name="address" type="tns:addressType"/>
                    <xsd:element name="bookingNo" type="xsd:string"/>
                    <xsd:element name="price" type="xsd:float"/>
                    <xsd:element name="ccGuaranteeReq" type="xsd:boolean"/>
                    <xsd:element name="hotelServiceName" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="addressType">
                <xsd:sequence>
                    <xsd:element name="street" type="xsd:string"/>
                    <xsd:element name="houseNo" type="xsd:string"/>
                    <xsd:element name="city" type="xsd:string"/>
                    <xsd:element name="zip" type="xsd:string"/>
                    <xsd:element name="country" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="hotelBookingArrayType">
                <xsd:sequence>
                    <xsd:element name="bookings" type="tns:hotelBookingType" maxOccurs="unbounded" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="hotelQueryType">
                <xsd:sequence>
                    <xsd:element name="city" type="xsd:string"/>
                    <xsd:element name="arrivalDate" type="xsd:date"/>
                    <xsd:element name="departureDate" type="xsd:date"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="hotelQuery" type="tns:hotelQueryType"/>
            <xsd:element name="hotelQueryResult" type="tns:hotelBookingArrayType"/>
            <xsd:complexType name="bookingType">
                <xsd:sequence>
                    <xsd:element name="bookingNo" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="hotelBooking" type="tns:hotelBookingType"/>
            <xsd:element name="hotelBookingFault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="errorMessage" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="bookingCancellationType">
                <xsd:sequence>
                    <xsd:element name="bookingNo" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="bookingCancellation" type="tns:bookingCancellationType"/>
            <xsd:element name="bookingCancellationFault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="errorMessage" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="hotelBookingResult" type="xsd:boolean"/>
            <xsd:element name="bookingCancellationResult" type="xsd:boolean"/>
        </xsd:schema>
    </types>
    <message name="getHotelsOperationRequest">
        <part name="hotelQuery" element="tns:hotelQuery"/>
    </message>
    <message name="getHotelsOperationResponse">
        <part name="hotelBookingArray" element="tns:hotelQueryResult"/>
    </message>
    <message name="bookHotelOperationRequest">
        <part name="hotelBooking" element="tns:hotelBooking"/>
    </message>
    <message name="bookHotelOperationResponse">
        <part name="bookingResult" element="tns:hotelBookingResult"/>
    </message>
    <message name="bookHotelOperationFault">
        <part name="bookingFault" element="tns:hotelBookingFault"/>
    </message>
    <message name="cancelHotelOperationRequest">
        <part name="bookingCancellation" element="tns:bookingCancellation"/>
    </message>
    <message name="cancelHotelOperationResponse">
        <part name="cancellationResult" element="tns:bookingCancellationResult"/>
    </message>
    <message name="cancelHotelOperationFault">
        <part name="cancellationFault" element="tns:bookingCancellationFault"/>
    </message>
    <portType name="hotelServicePortType">
        <operation name="cancelHotelOperation">
            <input name="cancelHotelOperationInput" message="tns:cancelHotelOperationRequest"/>
            <output name="cancelHotelOperationOutput" message="tns:cancelHotelOperationResponse"/>
            <fault name="cancelHotelOperationFault" message="tns:cancelHotelOperationFault"/>
        </operation>
        <operation name="bookHotelOperation">
            <input name="bookHotelOperationInput" message="tns:bookHotelOperationRequest"/>
            <output name="bookHotelOperationOutput" message="tns:bookHotelOperationResponse"/>
            <fault name="bookHotelOperationFault" message="tns:bookHotelOperationFault"/>
        </operation>
        <operation name="getHotelsOperation">
            <input name="getHotelsOperationInput" message="tns:getHotelsOperationRequest"/>
            <output name="getHotelsOperationOutput" message="tns:getHotelsOperationResponse"/>
        </operation>
    </portType>
    <binding name="hotelServiceSOAP" type="tns:hotelServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="cancelHotelOperation">
            <soap:operation/>
            <input name="cancelHotelOperationInput">
                <soap:body use="literal"/>
            </input>
            <output name="cancelHotelOperationOutput">
                <soap:body use="literal"/>
            </output>
            <fault name="cancelHotelOperationFault">
                <soap:fault name="cancelHotelOperationFault" use="literal"/>
            </fault>
        </operation>
        <operation name="bookHotelOperation">
            <soap:operation/>
            <input name="bookHotelOperationInput">
                <soap:body use="literal"/>
            </input>
            <output name="bookHotelOperationOutput">
                <soap:body use="literal"/>
            </output>
            <fault name="bookHotelOperationFault">
                <soap:fault name="bookHotelOperationFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getHotelsOperation">
            <soap:operation/>
            <input name="getHotelsOperationInput">
                <soap:body use="literal"/>
            </input>
            <output name="getHotelsOperationOutput">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="hotelService">
        <port name="hotelServiceSOAPPort" binding="tns:hotelServiceSOAP">
            <soap:address location="http://localhost:8080/HotelReservation/hotelService"/>
        </port>
    </service>
</definitions>