HotelReservation/src/java/hotelservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="hotelservice" targetNamespace="http://dk.dtu.02267.hotelservice/WSDL"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
             xmlns:tns="http://dk.dtu.02267.hotelservice/WSDL"
             xmlns:hrt="urn://hotelReservationTypes"              
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    
    <types>
        <xsd:schema targetNamespace="http://dk.dtu.02267.hotelservice/WSDL">
            <xsd:import namespace="urn://hotelReservationTypes" schemaLocation="hotelReservation.xsd"/>
        </xsd:schema>
    </types>
        
    <message name="getHotelsOperationRequest">
        <part name="hotelQuery" element="hrt:hotelQuery"/>
    </message>
    <message name="getHotelsOperationResponse">
        <part name="hotelArray" element="hrt:hotelList"/>
    </message>
    <message name="bookHotelOperationRequest">
        <part name="bookingWithCreditCard" element="hrt:hotelBookingWithCreditCard"/>
    </message>
    <message name="bookHotelOperationResponse">
        <part name="bookingResult" element="hrt:hotelBookingResult"/>
    </message>
    <message name="bookHotelOperationFault">
        <part name="bookingFault" element="hrt:hotelBookingFault"/>
    </message>
    <message name="cancelHotelOperationRequest">
        <part name="bookingCancellation" element="hrt:hotelCancellation"/>
    </message>
    <message name="cancelHotelOperationResponse">
        <part name="cancellationResult" element="hrt:hotelCancellationResult"/>
    </message>
    <message name="cancelHotelOperationFault">
        <part name="cancellationFault" element="hrt:hotelCancellationFault"/>
    </message>
    <message name="resetOperationRequest">
        <part name="reset" element="hrt:reset"/>
    </message>
    <portType name="hotelServicePortType">
        <operation name="cancelHotelOperation">
            <input name="cancelHotelOperationInput" message="tns:cancelHotelOperationRequest"/>
            <output name="cancelHotelOperationOutput" message="tns:cancelHotelOperationResponse"/>
            <fault name="cancelHotelOperationFault" message="tns:cancelHotelOperationFault"/>
        </operation>
        <operation name="bookHotelOperation">
            <input name="bookHotelOperationInput" message="tns:bookHotelOperationRequest"/>
            <output name="bookHotelOperationOutput" message="tns:bookHotelOperationResponse"/>
            <fault name="bookHotelOperationFault" message="tns:bookHotelOperationFault"/>
        </operation>
        <operation name="getHotelsOperation">
            <input name="getHotelsOperationInput" message="tns:getHotelsOperationRequest"/>
            <output name="getHotelsOperationOutput" message="tns:getHotelsOperationResponse"/>
        </operation>
        <operation name="resetOperation">
            <input name="resetOperationInput" message="tns:resetOperationRequest"/>
        </operation>
    </portType>
    <binding name="hotelServiceSOAP" type="tns:hotelServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="cancelHotelOperation">
            <soap:operation/>
            <input name="cancelHotelOperationInput">
                <soap:body use="literal"/>
            </input>
            <output name="cancelHotelOperationOutput">
                <soap:body use="literal"/>
            </output>
            <fault name="cancelHotelOperationFault">
                <soap:fault name="cancelHotelOperationFault" use="literal"/>
            </fault>
        </operation>
        <operation name="bookHotelOperation">
            <soap:operation/>
            <input name="bookHotelOperationInput">
                <soap:body use="literal"/>
            </input>
            <output name="bookHotelOperationOutput">
                <soap:body use="literal"/>
            </output>
            <fault name="bookHotelOperationFault">
                <soap:fault name="bookHotelOperationFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getHotelsOperation">
            <soap:operation/>
            <input name="getHotelsOperationInput">
                <soap:body use="literal"/>
            </input>
            <output name="getHotelsOperationOutput">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="resetOperation">
            <soap:operation/>
            <input name="resetOperationInput">
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="hotelService">
        <port name="hotelServiceSOAPPort" binding="tns:hotelServiceSOAP">
            <soap:address location="http://localhost:${HttpDefaultPort}/HotelReservation/hotelservice/hotelServiceSOAPPort"/>
        </port>
    </service>
    <plink:partnerLinkType name="partnerlinktype1">
        <plink:role name="hotelServiceRole" portType="tns:hotelServicePortType"/>
    </plink:partnerLinkType>
</definitions>