testTravelGood/src/META-INF/wsdl/localhost_8080/LameDuck/lameDuckService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:flightData" targetNamespace="urn:flightData" elementFormDefault="qualified">
    <xsd:complexType name="flightType">
        <xsd:sequence>
            <xsd:element name="startAirpot" type="xsd:string"/>
            <xsd:element name="destinationAirport" type="xsd:string"/>
            <xsd:element name="datetimeLift" type="xsd:dateTime"/>
            <xsd:element name="datetimeLanding" type="xsd:dateTime"/>
            <xsd:element name="carrier" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FlightInfoType">
        <xsd:sequence>
            <xsd:element name="bookingNumber" type="xsd:string"/>
            <xsd:element name="flightPrice" type="xsd:int"/>
            <xsd:element name="airlineReservationServiceName" type="xsd:string"/>
            <xsd:element name="flight" type="tns:flightType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="flightInfoListType">
        <xsd:sequence>
            <xsd:element name="flightInfo" maxOccurs="unbounded" minOccurs="0" type="tns:FlightInfoType"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>